lindat-hinden-enhi/README.txt
lindat-hinden-enhi/hindencorp05.export.gz
lindat-hinden-enhi/hindencorp05.plaintext.gz  
lindat-hinden-enhi/hindmonocorp05.export.gz
lindat-hinden-enhi/hindmonocorp05.plaintext.gz
wat-iitb-enhi/dev_test/*
wat-iitb-enhi/parallel/*
wat-iitb-enhi/monolingual/*
